.message-output {
  height: 80vh;
  border: 1px solid lightgray;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.message-inner {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  min-width: 200px;
  max-width: 90%;
  text-align: left;
  min-height: 80px;
  font: 400 1em, sans-serif;
  display: inline-block;
  border-radius: 10px;
  background-color: pink;
}

.incoming-message .message-inner {
  background-color: #ffdab9;
}

.incoming-message {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.message-sender {
  margin-bottom: 5px;
  font-weight: bold;
}

.message-content {
  word-break: break-all;
}

.message-timestamp {
  font-size: 0.85em;
  font-weight: 300;
  margin-top: 10px;
}

.message-date-indicator {
  width: 150px;
  margin: 0 auto;
}

.private-member-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10;
}
